{{cities-chooser
  cities           = model.cities
  currentCity      = model.currentCity
  changeCityAction = (action 'changeCityAction')
}}



{{#with (sort-by 'distanceKm' model.userCityJunctions) as |userCityJunctions|}}
  <label class = "route-city-distance">
    {{input
      class = "route-city-distance-slider"
      type  = "range"
      min   = 0
      max   = userCityJunctions.lastObject.distanceKm
      value = distanceLimitKm
    }}

    Distance limit:
    <span class = "route-city-distance-label">
      {{distanceLimitKm}} km
    </span>
  </label>

  {{user-list
    users           = userCityJunctions
    distanceLimitKm = distanceLimitKm
  }}
{{/with}}